// Login.module.scss

.container {
  max-width: 1200px;
  margin: 0 auto; /* 確保容器居中 */
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.heading {
  margin: 40px 0;
  font-size: 2rem; /* 可根據需求調整字體大小 */
  text-align: center;
}

