.navBarContainer {
    max-width: 100%;
    padding: 1rem;
    background-color: #f8f9fa;
}

.navBarFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 1.5rem;
    color: #333;
}

.link {
    margin-right: 1rem;
    font-size: 1rem;
    color: #0070f3;
    text-decoration: none;
}

.walletIconButton {
    color: #0070f3;
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.connectWallet {
    width: 100%;
    text-align: center;
}